<!DOCTYPE html>
<html>
<head>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<script
  	src="https://code.jquery.com/jquery-3.4.1.js"
  	integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  	crossorigin="anonymous">
  </script>
	<style>
        #post p {
         font-size: 20px;
        }
        #post span {
         font-size: 20px;
        }
		p {
			margin-bottom: 0;
		}
		.comment {
	    border: 1px solid gray;
	    padding: 15px;
		}
	</style>
	<title>Virginia Cyber Range</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div id="post" class="col-md-12">
				<h2 style="text-align: center;">View Post</h2>
				<p style="font-weight: bold;">Author:</p><span id="author"></span>
				<br>
				<p style="font-weight: bold;">Title:</p><span id="title"></span>
				<br>
				<p style="font-weight: bold;">Content:</p><span id="content"></span>
				<br>
				<h4>Comments</h4>
				<div id="comments">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h4 style="margin-top: 20px;">New Comment</h4>
				<form>
					<div class="form-group">
						<textarea id="content" class="form-control"></textarea>
					</div>
					<button class="btn btn-primary">Submit</button>
				</form>

			</div>
		</div>
	</div>
	<script type="text/javascript">
		
		$(function() {

	    	var dataObject = {{ post_data }}
			
			document.getElementById("title").innerHTML = dataObject.title;
			document.getElementById("content").innerHTML = dataObject.content;
			document.getElementById("author").innerHTML = dataObject.author.username;
			htmlObject = "";			
			for (var i = 0; i < dataObject.comments.length; i++) { 						
				var htmlCard =	"<div class='comment'>" +
						"<p style='font-weight: bold;'>Author:</p>" +
						"<span>"+dataObject.comments[i].author.username+"</span>" +
						"<p style='font-weight: bold;'>Content:</p>" +
						"<span>"+dataObject.comments[i].content+"</span>" +						
					"</div>"
  			
  			htmlObject += htmlCard;
			}

			document.getElementById("comments").innerHTML = htmlObject;
		

			});

	</script>
</body>
</html>