<!DOCTYPE html>
<html>
<head>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<script
  	src="https://code.jquery.com/jquery-3.4.1.js"
  	integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  	crossorigin="anonymous">		
  </script>   	
	<style>

		p { 
			margin-bottom: 0;
		}
	</style>        
	<title>Virginia Cyber Range</title>
</head>
<body>
	<div class="container">		
		<div class="row">								
			<div class="col-md-12">
				<form action="/" class="form-group">					
					<h3 style="text-align: center;">Sign In</h3>
					<label for="username">Username</label>
					<input class="form-control" type="text" id="username" name="username">
					<label for="email">Email</label>
					<input class="form-control" type="text" id="email" name="email">	
					<label for="Password">Password</label>
					<input class="form-control" type="password" id="password" name="password">										
					<button style="margin-top: 15px;"class="btn btn-primary">Login</button>
				</form>
			</div>		
		</div>
	</div>

</body>
</html>